<!-- Core -->
<script src="{{url_for('static', filename='assets/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/headroom.min.js')}}"></script>

<!-- Vendor JS -->
<script src="{{url_for('static', filename='assets/js/on-screen.umd.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/jarallax.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/smooth-scroll.polyfills.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/vivus.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/datepicker.min.js')}}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Pixel JS -->
<script src="{{url_for('static', filename='assets/js/pixel.js')}}"></script>